.route{
    display: flex;
    justify-content: center;
    flex-grow: 2;
    box-sizing: border-box;
  }
  

@media only screen and (max-width: 420px) {
    .Error401{
        width: 320px;
        height: auto;
    }
}